<nav class="top-bar-header">
    <div class="top-left-items">
        <div class="menu-icon-div">
            <button  class="menu-icon"><i class="fa-solid fa-bars"></i></button>
        </div>
        
        <a href="#" class="logo">
            <img class="keep-logo" src="../../../../assets/images/keep-logo.png" alt="">
            <span class="brand-name">Keep
            </span>
        </a>

    </div>

    <div class="searchbox">
        <div class="icon-div"><i class=" search fa-solid fa-magnifying-glass"></i></div>
        
        <input type="text" placeholder="Search">
        <div class="icon-div"><i class="cancel fa-solid fa-x"></i></div>
        
    </div>

   <div class="utilities">
    <button><i class="fa-solid fa-arrow-rotate-right"></i></button>
    <button><i class="fa-solid fa-border-all"></i></button>
    <button><i class="fa-solid fa-gear"></i></button>
   </div>

   
  <div class="user-div">
      <div class="profile">
             <i class="fa-solid fa-user" *ngIf="!data.photoUrl && !userNameLetter"></i>
             <span *ngIf="data && !data.photoUrl" class="letter">{{userNameLetter}}</span>
            <img  *ngIf="data.photoUrl" [src]="data.photoUrl">
        </div>
      </div>


</nav>