@import "../../../_variables";

button {
    border: none;
    background-color: transparent;
    color: $light-theme-icon-color;
    font-size: 18px;
}

.top-bar-header {
    border-bottom: 1px solid rgba(182, 177, 177, 0.458);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 15% 45% auto 15%;
    width: 100%;
    font-size: medium;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins";
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    background-color: white;

    .top-left-items {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 8px;
        padding-left: 5px;
        align-items: center;
        justify-content: flex-start;

        .menu-icon-div {
            padding: 5px;
        }

        .menu-icon-div:hover {
            box-sizing: border-box;
            background-color: $light-theme-hover-color;
            border-radius: 47%;
        }

        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;


            span {
                font-size: 21px;
                color: rgb(71, 68, 68);
                font-weight: 400;
            }

        }

    }

    .searchbox {
        border: 1px solid rgba(203, 203, 203, 0.466);
        display: inline-flex;
        flex-direction: row;
        color: $light-theme-icon-color;
        align-items: center;
        padding-left: 6px;
        padding-right: 6px;
        box-sizing: border-box;
        border-radius: 10px;
        width: auto;
        background-color: rgba(203, 203, 203, 0.345);

        .icon-div {
            padding: 6px 11px;
        }

        .icon-div:hover {
            border-radius: 20px;
            background-color: $light-theme-hover-color;
        }


        input {
            width: 100%;
            height: 70%;
            border: none;
            font-family: "Poppins";
            color: $light-theme-font-color;
            background-color: transparent;
        }

        input:focus-visible {
            outline: none;

        }

    }

    .searchbox:focus-within {
        box-shadow: 0px 0px 1px 1px rgba(203, 203, 203, 0.58);
        background-color: white;
    }

    .utilities {
        margin-left: 26%;
        padding-left: 40px;
        width: 70%;
        display: grid;
        grid-template-columns: 15% 15% 15%;
        justify-content: center;

        button {
            i {
                font-size: 20px;
                color: $light-theme-icon-color;
            }
        }

    }

    .user-div {
        display: flex;
        flex-direction: row;
        width: 100%;

        .profile{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: rgb(216, 27, 96);
         
        .fa-user{
            color: white;
        }
            .letter{
               font-size: 25px;
                color: white;
            }

            img{
                height: 45px;
                width: 45px;
                border-radius: 50%;
            }
        }
    }
}