
<div class="note">
    <div class="check-icon"> <i class="fa-solid fa-circle-check"></i></div>

    <div class="single-note">

        <div class="note-title">
            <div class="title-div">
                <h3>{{title}} </h3>
            </div>
            <div class="thumbtack">
                <i class="fa-solid fa-thumbtack"></i>
            </div>
            
        </div>

        <div class="note-body">
            <span>{{description}}</span>
        </div>
        <div class="note-footer">
            <div class="reminder"><i class="fa-solid fa-bell"></i></div>
            <div class="collaborator">
                <i class="fa-solid fa-user-plus"></i>
            </div>
            <div class="background-options">
                <i class="fa-solid fa-palette"></i>
            </div>
            <div class="image">
                <i class="fa-solid fa-image"></i>
            </div>
            <div class="archive">
                <i class="fa-solid fa-box-archive"></i>
            </div>
            <div class="more">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
    </div>

</div>
        
    
    
    
  
