<div class="container">
    <div class="upper">
        <div class="notes" [routerLink]="['/notes']"  routerLinkActive="router-link-active">
            <i class="fa-regular fa-lightbulb"></i>
            <span>Notes</span>
        </div>
        <div class="reminders">
            <i class="fa-regular fa-bell"></i>
            <span>Reminders</span>
        </div>
        <div class="labels">
            <i class="fa-solid fa-pen"></i>
            <span>Edit Labels</span>
        </div>
        <div class="archive">
            <i class="fa-solid fa-box-archive"></i>
            <span>Archive</span>
        </div>
        <div class="trash">
            <i class="fa-regular fa-trash-can"></i>
            <span>Trash</span>
        </div>
    </div>
    <div class="lower">
       by: Keziah x George
    </div>
</div>