$dark-theme-background : #202124;
$dark-theme-font-color : #e8eaed;
$light-theme-background : #fff;
$light-theme-font-color : #202124;
$dark-theme-button-active : #41331c;
$dark-theme-button-hover : #28292c;
$dark-theme-text-box : rgb(255, 255, 255),
rgb(59, 59, 59);
$dark-theme-border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
$light-theme-text: red;
$light-theme-border-color: green;
$light-theme-logo-color: #454545;
$light-theme-icon-color: #6b6b6b;
$light-theme-hover-color:#adadadae