main {
    position: relative;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-x: hidden;
    background-color: white;

    .note {
        margin-top: 100px;
        padding-top: 1px;


        .note-parent {
            display: flex;
            flex-direction: column;
            align-items: center;

            .take-note {
                align-items: center;
                min-height: 45px;
                width: 600px;
                padding: 5px 0 5px 15px;
                border-radius: 10px;
                box-shadow: 5px 5px 10px 1px rgba(115, 115, 115, 0.4);
                z-index: 0;

                .title {
                    display: grid;
                    grid-template-columns: 90% 10%;
                    padding: 5px;

                    .input-box {
                        width: 70%;
                        height: 30px;
                        border: none;
                        font-size: 15px;
                    }

                    .input-box:focus {
                        outline: none;
                    }

                    i {
                        font-size: 20px;
                        color: rgb(63, 62, 62);
                    }
                }

                .main-input {
                    align-items: center;
                    padding: 5px;
                    display: grid;
                    grid-template-columns: 70% 10% 10% 10%;

                    .input-box {
                        z-index: 99;
                        width: 70%;
                        height: 30px;
                        border: none;
                        font-size: 15px;
                    }
                    .textarea {
                        z-index: 99;
                        width: 90%;
                        border: none;
                        font-size: 15px;
                        overflow: hidden;
                        resize: none;
                        box-sizing: border-box;

                        
                    }

                    .input-box:focus {
                        outline: none;
                    }
                    .textarea:focus {
                        outline: none;
                    }

                    i {
                        font-size: 20px;
                        color: rgb(63, 62, 62);
                    }
                }

                .icon-area {
                    margin-top: 10px;
                    padding: 10px;
                    display: grid;
                    grid-template-columns: 90% 10%;

                    .icons {
                        display: grid;
                        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 30%;

                        i {
                            font-size: 15px;
                            color: rgb(63, 62, 62);
                        }
                    }

                    .close {
                        text-align: end;
                    }

                }
            }
        }
    }

    .card-container {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        column-count: 5;
        column-gap: .5rem;
    }


}