<main>
    <div class="note">
        <div>
            <h4 *ngIf="data.name">Hi, {{ data.name }}</h4>
          </div>
        <div class="note-parent">
            <!-- (mouseleave)="revert()"  -->
            <div class="take-note"  tabindex="0" id="takenote">
                <div class="title" *ngIf="isVisible">
                    <input [(ngModel)]="title" name="title" type="text" class="input-box" placeholder="Title" >
                    <i class="fa-solid fa-thumbtack"></i>
                                 </div>
                <div class="main-input">
                    <textarea [(ngModel)]="description" name="description" type="text" class="textarea" placeholder="Take a note..." (click)="showNote()" onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                    <ng-container *ngIf="!isVisible">
                        <i class="fa-regular fa-square-check"></i>
                        <i class="fa-solid fa-paintbrush"></i>
                        <i class="fa-regular fa-image"></i>
                    </ng-container>
                </div>
               
                <div class="icon-area"  *ngIf="isVisible">
                    <div class="icons">
                        <i class="fa-regular fa-bell"></i>
                        <i class="fa-solid fa-user-plus"></i>
                        <i class="fa-solid fa-palette"></i>
                        <i class="fa-regular fa-image"></i>
                        <i class="fa-solid fa-box-archive"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        <i class="fa-solid fa-rotate-left"></i>
                        <i class="fa-solid fa-rotate-right"></i>
                    </div>
                    <div class="close-button">
                        <span class="close" (click)="closeNote()">Close</span>
                    </div>
                </div>
             </div>
        </div>
    </div>

    <div class="card-container">
        <app-note-card *ngFor="let data of notesData"
        [title]="data.title" [description]="data.description"></app-note-card>
        

    </div>
    <div>
        <button (click)="signInWithGoogle()">Login</button>
        <button (click)="logout()">Logout</button>
    </div>

</main>
